{% extends "adminbase.html" %}
{% block active2 %} "active" {% endblock%}
{% block tablewrapper %}
                    
                    <div class="col-sm-6">
						<h2>Manage <b>Users</b></h2>
					</div>
                    <div class="col-sm-6">
                        <a href="" class="btn" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Add User</span></a>
    
                      </div>
                    </div>

                    
{% endblock %}


{% block tablecontent%}
                <form action="{% url 'adminuserlist' %}" class="d-flex offset-md-1 container m-auto" style="width:1100px">
                    <input class="form-control offset-md-1" type="search" placeholder="Search Username" name="search" aria-label="Search"><br>
                    <button class="btn btn-outline-secondary" type="submit">Search</button>
                </form>
                <table class="table table-striped table-hover">
                
                <thead>
                    <tr>
                    

                        <th>ID</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Block/Unblock</th>
                        <th>Delete</th>
                    
                    </tr>
                </thead>
                <tbody>
                    {% for x in mymembers %}
                    <tr>
                        <td>{{ x.id }}</td>                         
                        <td>{{ x.uname }}</td>
                        <td>{{ x.uemail }}</td>
						<td>
                            {% if x.uactive %}
                                <a href="{% url 'userblock' %}?uid={{x.id}}" class="btn btn-danger md-sm"><span style="color:white">Block</span></a>
                            {% else %}
                                <a href="{% url 'userblock' %}?uid={{x.id}}" class="btn btn-success md-sm"><span style="color:white">Unblock</span></a>
                            {% endif %}
                            </td>
                        <td>
                            <!--<a href="" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a> -->
                            <a href="{% url 'userdelete' %}?uid={{x.id}}" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                        </td>
                    
                    </tr>
                    {% endfor %}
  
                </tbody>
                </table>
                
{% endblock %}