{% extends "adminbase.html" %}
{% load static %}
{% block active6 %} "active" {% endblock%}
{% block tablewrapper %}
                    
                    <div class="col-sm-6">
						<h2>Category</h2>
					</div>
                    <div class="col-sm-6">
                        
    
                      </div>
                    </div>

                    
{% endblock %}
{% block tablecontent%}
                
<form method="post" enctype="multipart/form-data" style="width:300px; margin-left:400px; margin-top:100px; margin-bottom:100px;">
    <!-- Email input -->
    {% csrf_token %}
    

    {{fm.as_p}}
    <button type="submit" class="btn btn-primary btn-block" style="margin-top:30px">Add Category</button>
  </div>

    
  

    
  </form>
                
{% endblock %}