{% extends "adminbase.html" %}
{% load static %}
{% block active1 %} "active" {% endblock%}
{% block tablewrapper %}
                    
                    <div class="col-sm-6">
						<h2>Sales</h2>
					</div>
                    <div class="col-sm-6">
                        
    
                      </div>
                    </div>

                    
{% endblock %}
{% block tablecontent%}
                
                <thead>
                    <tr>
                    

                        <th><img src="{% static 'dash1.jpg' %}" width="540px"></th>
                        <th><img src="{% static 'dash2.jpg' %}" width="540px">></th>
                    
                    </tr>
                </thead>
                <tbody>

  
                </tbody>
                
{% endblock %}